
@{
    ViewBag.Title = "SessionRecord";
}

<h2>SessionRecord</h2>

@using (Html.BeginForm())
{
  @Html.Label("email", "メールアドレス：")
  @Html.TextBox("email",
    (string)ViewBag.Email, new { @class = "form-control" })
  <input type="submit" value="送信" />
}
