<table id="tbl" data-role="table" data-mode="columntoggle" class="ui-responsive">
  <thead>
    <tr>
      <th><abbr title="ISBNコード">ISBN</abbr></th>
      <th>タイトル</th>
      <th data-priority="1">出版社</th>
      <th data-priority="2">価格</th>
      <th data-priority="3">配本日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>978-4-7741-6566-0</td>
      <td>PHPライブラリ＆サンプル実践活用</td>
      <td>技術評論社</td>
      <td>2480</td>
      <td>2014年06月24日</td>
    </tr>
    <tr>
      <td>978-4-8222-9836-4</td>
      <td>.NET開発テクノロジ入門</td>
      <td>日経BP社</td>
      <td>3800</td>
      <td>2014年06月05日</td>
    </tr>
    <tr>
      <td>978-4-7741-6296-6</td>
      <td>Windows 8開発ポケットリファレンス</td>
      <td>技術評論社</td>
      <td>3024</td>
      <td>2014年02月19日</td>
    </tr>
    <tr>
      <td>978-4-7741-6127-3</td>
      <td>iPhone／iPad開発ポケットリファレンス</td>
      <td>技術評論社</td>
      <td>2919</td>
      <td>2013年11月23日</td>
    </tr>
    <tr>
      <td>978-4-7981-3332-4</td>
      <td>10日でおぼえるjQuery入門教室 第2版</td>
      <td>翔泳社</td>
      <td>2940</td>
      <td>2013年10月07日 </td>
    </tr>
    <tr>
      <td>978-4-7741-5878-5</td>
      <td>AndroidエンジニアのためのモダンJava</td>
      <td>技術評論社</td>
      <td>3360</td>
      <td>2013年08月20日</td>
    </tr>
  </tbody>
</table>
