
@{
    ViewBag.Title = "Raw";
}

<h2>Raw</h2>

@{ ViewBag.SampleString = "That's 'All' Right, \"little\" Tom!<br />"; }
@Html.Raw(ViewBag.SampleString)

@Html.Raw(Html.Encode(ViewBag.SampleString))
@Html.Raw(Html.AttributeEncode(ViewBag.SampleString))