
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>レイアウト</title>
</head>
<body>
    <div>
        レイアウトを適用しない 
    </div>
</body>
</html>
