
@{
    ViewBag.Title = "BookMark";
}

<h2>BookMark</h2>

<form>
  <label for="url">URL：</label>
  <input id="url" type="text" size="80" />
  <input id="get" type="button" value="取得" />
</form>
<div id="result">－</div>

@section scripts {
<script>
$(function() {
  $('#get').click(function() {
    $.getJSON('http://b.hatena.ne.jp/entry/jsonlite/?callback=?',
      { url: $('#url').val() })
      .done(function(data) {
        $('#result').text(data.count + '件');
      })
  });
});
</script>
}