
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Adminエリア", "Index", "Home", new { area = "Admin" }, null)

@Html.ActionLink("デフォルトエリア", "Index", "Home", new { area = "" }, null)

