@model IEnumerable<MvcTest.Models.Restaurant>

<table class="table">
  @foreach (var rest in Model)
  {
    <tr>
      <th>
        <img src="@rest.Image)" alt="グルメ情報検索サイト ぐるなび" />
      </th>
      <td>
        <h5><a href="@rest.Url">@rest.Name.Replace("<br>", "")</a></h5>
        <p>@rest.Pr</p>
      </td>
    </tr>
  }
</table>



</html>
