@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ChildLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@Html.Action("CurrentTime", "Home")

@*@section scripts {
    <script>
        $(function () {
            //<h3>要素のテキストを赤色に
            $('h3').css('color', 'Red');
        });
    </script>
}*@